* {
  margin: 0;
}

/* Page Navigation */
.route-view {
  background-color: lightblue;
}

.nav-menu {
  background-color: lightcoral;
}

.navbar {
  background-color: lightgreen;
  z-index: 1;
}

/* Topics */
#topic-container {
  border: 2px solid grey;
}

/* Login/Register */
.login-window {
  position: absolute;
  z-index: 9;
  background-color: lightcoral;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
