* {
  margin: 0;
}

/* Page Navigation */
.route-view {
  background-color: lightblue;
}

.nav-menu {
  background-color: lightcoral;
}

.navbar {
  background-color: lightgreen;
}

/* Topics */
#topic-container {
  border: 2px solid grey;
}
