@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    .text-hover-#{$key} {
        // parent selector
        &:hover {
            color: $info;
        }
        // &::after
    }
    .bg-#{$key} {
        background-color: $val;
    }
}