// colors
$orange-primary: #FF9F1C;
$orange-secondary: #FFBF69;
$turquoise-primary: #2EC4B6;
$turquoise-secondary: #CBF3F0;
$white: #FFFFFF;
$light-grey: #F1F1F1;
$primary: blue;
$info: orange;

// color palette
$colors: (
    "org-primary": $orange-primary,
    "org-secondary": $orange-secondary,
    "turq-primary": $turquoise-primary,
    "turq-secondary": $turquoise-secondary,
    "primary": $primary,
    "info": $info
);

// spacing
$base-padding: 5px;
$base-margin: 5px;
$base-padding-top-body: 60px;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box-shadow
$base-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

// font sizes
$base-font-size: 14px;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;