/* reset styles */
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col-33 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.33%;
}

.col-50 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-66 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.66%;
}

.col-100 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-org-primary {
  color: #FF9F1C;
}

.bg-org-primary {
  background-color: #FF9F1C;
}

.text-org-secondary {
  color: #FFBF69;
}

.bg-org-secondary {
  background-color: #FFBF69;
}

.text-turq-primary {
  color: #2EC4B6;
}

.bg-turq-primary {
  background-color: #2EC4B6;
}

.text-turq-secondary {
  color: #CBF3F0;
}

.bg-turq-secondary {
  background-color: #CBF3F0;
}

.text-primary {
  color: blue;
}

.bg-primary {
  background-color: blue;
}

.text-info {
  color: orange;
}

.bg-info {
  background-color: orange;
}

.card {
  display: block;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2.5px;
}
.card .card-title {
  font-size: 21px;
  padding-bottom: 5px;
  font-weight: bold;
}
.card .card-body {
  font-size: 14px;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.btn:hover {
  background-color: #f1f1f1;
}

.btn-org-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF9F1C;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-org-primary:hover {
  background-color: #ffaa36;
}

.btn-org-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFBF69;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-org-secondary:hover {
  background-color: #ffca83;
}

.btn-turq-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #2EC4B6;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-turq-primary:hover {
  background-color: #3bd1c3;
}

.btn-turq-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #CBF3F0;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-turq-secondary:hover {
  background-color: #e0f8f6;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: blue;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #1a1aff;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: orange;
  transition: 0.3s;
  color: #FFFFFF;
}
.btn-info:hover {
  background-color: #ffae1a;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.navbar {
  border: 2px solid blue;
}
.navbar .site-title {
  font-size: 21px;
}
.nav-footer {
  width: 70%;
  border: 2px solid red;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
  padding: 10px;
}

.nav-menu {
  padding: 10px;
  background-color: #FFFFFF;
  border: 2px solid orange;
  margin-top: 20px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.py-3 {
  padding: 15px 0;
}

.py-4 {
  padding: 20px 0;
}

.py-5 {
  padding: 25px 0;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.op-10 {
  opacity: 0.1;
}

.op-20 {
  opacity: 0.2;
}

.op-30 {
  opacity: 0.3;
}

.op-40 {
  opacity: 0.4;
}

.op-50 {
  opacity: 0.5;
}

.op-60 {
  opacity: 0.6;
}

.op-70 {
  opacity: 0.7;
}

.op-80 {
  opacity: 0.8;
}

.op-90 {
  opacity: 0.9;
}

.op-100 {
  opacity: 1;
}

.br {
  border-radius: 10px;
}

.br-default {
  border-radius: 10px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 2.5px;
}

.br-sm {
  border-radius: 5px;
}

.br-lg {
  border-radius: 20px;
}

.br-full {
  border-radius: 50%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.font-sm {
  font-size: 10.5px;
}

.font-md {
  font-size: 14px;
}

.font-lg {
  font-size: 21px;
}

.font-xl {
  font-size: 28px;
}

.font-xxl {
  font-size: 42px;
}