@use 'sass:math';

.card {
    display: block;
    padding: $base-padding * 2;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    margin-bottom: $base-margin * 2;

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: $base-font-size;
        a {
            text-decoration: underline;
        }
    }
}