%flex-layout {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    position: fixed;
    padding: $base-padding * 2;
    top: 0;
    right: 0;
    transition: top 0.3s;
    border-bottom: 2px solid blue;
    background-color: white;
    justify-content: space-between;

    .site-title {
        font-size: $font-size-lg;
    }
    .container {
        @extend %flex-layout;
    }
}

.nav-footer {
    @extend %flex-layout;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    border: 1px solid red;
    border-radius: $base-border-radius * 5;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
    padding: $base-padding * 3;
}

.nav-menu {
    position: sticky;
    top: $base-padding-top-body + 10;
    padding: $base-padding * 2;
    background-color: $white;
    border: 2px solid orange;
    // margin-top: $base-margin * 4;
}